RNAbams/
STARindex/
fastqs/
genome/
RNAbams/
logs/
.snakemake/
.Rproj.user
*.Rproj
*.html
.DS_Store
.Rhistory
Rhastxy.april2024.stephen.coge.aligncoords.gcoords.ks.txt
dna_ase_results_eqtl.csv
rna_ase_results_eqtl.csv
