67935_67937.CDS-CDS.last.tdd10.cs0.filtered.dag.all.go_D20_g10_A5.aligncoords.gcoords.ks.txt
dna_ase_results_eqtl_noPAR.csv.gz
normCounts_sag_and_rhast.txt
n_xy_oe_DNA_eQTL_lfcRanges.csv.gz
norm_rna_ase_resultsOnlySept2024.csv.gz
n_xy_oe_RNA_eQTL_lfcRanges.csv.gz
normalizedCounts_xyExp.csv.gz
readCountsDNAeQTL/
readCountsRNAeQTL/
readCountsSagittatus/
rna_ase_results_eqtl_may17.csv.gz
rna_ase_results_eqtl.csv.gz
reads_pangenes_focalmale.csv.gz
reads_pangenes_focalmale_TXanno.csv.gz
reads_pangenes_jpop_TXanno.csv.gz
reads_pangenes_jpop_TXanno_nsorthsincl.csv.gz
readCountsSmallPop
*.fa*
merged_TX_noMatPARlarge_txanno.gtf
